<html>
<head>
  <title>ESPING - BD</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #777777;
      text-align: center
    }
    p {
      text-align: center
    }
    table {
      margin: auto;
    }
  </style>
<script>
$(document).ready(function() {
  if(($('#dep').val().trim()) == '' || ($('#atrib').val().trim()) == ''){
      $('#calc').hide();
      }
});
function showButton() {
    $('#calc').show();          
}
</script>
</head>

<body>
  <h1>
      EDITAR RECUBRIMIENTO MINIMO
  </h1>
  <p>Edite los atributos, y dependencias segun su preferencia</p>
  <table>
    <tr>
      <td>
        <form action="/recmin/minimun/" method="POST" >
          {% csrf_token %}
          ATRIBUTOS
          <textarea rows="10" cols="150" id="atrib" name="atrib">
                {{ atributos }}           
          </textarea>
          <br />
          <br />
          DEPENDENCIAS
          <textarea rows="15" cols="150" id="dep" name="dep" onblur="showButton()">
                {{ dependencias }}           
          </textarea>
          <br />
          <br />
          <input type="submit" value="CALCULAR" id="calc" name="calc"/>
        </form>
        <a href='/recmin'> Inicio </a>
      </td>
    </tr>
  </table>
  

</body>

</html>