<html>
<head>
  <title>ESPING - BD</title>
  <style>
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #777777;
      text-align: center
    }
    table {
      margin: auto;
    }
  </style>
</head>

<body>
  <h1>
      {{what}}
  </h1>
  <table>
    <tr>
      <td colspan=2  align='center'>
        <img src="http://laud.udistrital.edu.co/sites/default/files/images/Logo_Distrital_0.GIF">
      </td>
    </tr>
    <tr>
      <td colspan=2>
      <h1>
      {{db}}
      </h1>
      </td>
    </tr>
    <tr>
    <td colspan=2>
    <p text-align='justify'> A continuación encontrara dos opciones para realizar el proceso de recubrimiento  mínimo y la aplicación del algoritmo rápido para la generación de llaves candidatas y al finalizar recibirá un informe de procesos y la información solicitada.</p>
    </td>
    </tr>
    <tr>
      <td>
      <h1>
      <a href='index'> cargar archivo </a>
      </h1>
      </td>
      <td>
      <h1>
      <a href='upload'> cargar datos </a>
      </h1>
      </td>
    </tr>
  </table>

</body>

</html>